* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/banner.png");
    width: auto;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 35px;
    margin: 10px 10px 0 10px;
}

#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

#logo {
    width: 160px;
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    margin-left: 20px;
}

.active {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.btn-header {
    padding: 8px 40px;
    background-color: #ffffff;
    border: none;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    font-size: 15px;
}

.btn-header:hover {
    background-color: black;
    color: #ffffff;
}

#title {
    font-size: 64px;
    font-weight: 400;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 0 0 1px black;
    text-align: center;
    margin-top: 220px;
}

.search-box {
    width: 70%;
    background-color: #ffffff;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-box form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-box form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-box form button {
    background-color: #ff5361;
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.search-box form label {
    font-weight: 600;
}

.location {
    flex: 1;
}

.subtitles {
    font-size: 37px;
    font-weight: 350;
    margin: 50px 0 0 70px;
    color: #332;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 50px;   
    margin-left: 70px;
    margin-right: 70px;
}

.exclusives div img {
    width: 100%; 
    border-radius: 10px;
}

.exclusives div {
    text-align: center;
    position: relative;
}

.exclusives span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.divide {
    display: flex;
    
}

.main-img {
    margin-top: 50px;
    margin-left: 70px;
}

.tour {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.place {
    font-weight: 600;
    font-size: 1.2vw;
    text-align: center;
}

.banner {
    margin: 50px 70px 0px 70px; 
    background-image: linear-gradient(to right, #3f2321, transparent), url(assets/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #ffffff;
}

.banner h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.banner p {
    font-size: 18px;
    margin: 10px 0;
}

.banner-btn {
    background-color: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}

.columns {
    display: flex;
    justify-content: start;
    margin-left: 70px;
    margin-top: 50px;
    gap: 30px;
}

.heads {
    width: 220px;
    height: 220px;  
    background-image: url(assets/story-1.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.heads-1 {
    width: 220px;
    height: 220px;  
    background-image: url(assets/story-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.heads-2 {
    width: 220px;
    height: 220px;  
    background-image: url(assets/story-3.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.para {
    color: #fff;
    font-size: 2.1vw;
    font-weight: 400;
    text-shadow: 0 0 1px black;
    text-align: center;
    margin: 10px 8px 10px 8px;
}

.end-btn {
    text-align: center;
    margin-top: 100px;
}

#tag {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2vw;
    background-color: #ff5361;
    padding: 15px 100px 15px 100px;
    border: none;
    border-radius: 50px;
}

.message {
    text-align: center;
    margin: 80px 100px 0 100px;
    color: #333;
    font-size: 17px;
    line-height: 2.5vw;
    font-family: "poppins", sans-serif;
}

.message h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer {
    margin: 80px 0 10px;
    text-align: center;
    font-family: "poppins", sans-serif;
}

.footer hr {
    background-color: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p {
    padding-bottom: 15px;
}

.active {
    position: relative;
}

.active::after {
    content: '';
    background-color: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;
}

nav .fa-bars {
    display: none;
}

#linkedin {
    width: 2.9%;
    border-radius: 100px;
}

#twitter {
    width: 2.9%;
    border-radius: 100px;
}

#insta {
    width: 2.6%;
    border-radius: 100px;
}